<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="gallery-container">
        <img [src]="photos[currentPhotoIndex]" alt="Zdjęcie">
        <!-- zad9
        <button (click)="showPrevious()">Poprzednie</button>
        <button (click)="showNext()">Następne</button> -->
        <!-- zad10
        <button (click)="showPrevious()" [disabled]="isFirstPhoto()">Poprzednie</button>
        <button (click)="showNext()" [disabled]="isLastPhoto()">Następne</button> -->
        <button (click)="showPrevious()" *ngIf="!isFirstPhoto()">Poprzednie</button>
        <button (click)="showNext()" *ngIf="!isLastPhoto()">Następne</button>
    </div>
</body>
</html>