<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <p>Wartość: {{ counterValue }}</p>
        <button (click)="changeValue(true)">Zwiększ</button>
        <button (click)="changeValue(false)">Zmniejsz</button>
        <button (click)="setStep(1)">+1</button>
        <button (click)="setStep(5)">+5</button>
        <button (click)="setStep(10)">+10</button>
        <button (click)="setStep(1)">-1</button>
        <button (click)="setStep(5)">-5</button>
        <button (click)="setStep(10)">-10</button>
      </div>
</body>
</html>