


<h1 [ngClass]="h1Class">{{title}}</h1>
<p>{{method()}}</p>
<div>{{person.firstname}} {{person.lastname}}</div>

<div><button (click)="onClick()">Kliknij</button></div>
<div><button (click)="tosmall()">small</button></div><br>
<p>Zadanie 1</p>
<p [ngClass]="zad2Class">{{ns}}</p>
<div><button (click)="nameSurname()">Pokaż imię i nazwisko</button></div><br>
<p>Zadanie 2</p>
<div><button (click)="bigger()">Wiekszy</button></div>
<div><button (click)="notbigger()">Zielony przekreślony</button></div><br>