h1 {color: blue;}

.kliknieta{
    color: red; font-size: large;
}
.niekliknieta{
    color: green; font-size:xx-large
}
.h1Class{ color: green;}
.zad2Class{font-size: 10px;}
.powiekszony{ font-size: 20px;}
.przekresloneZielone{ text-decoration: line-through; color: green;}