<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <p [ngClass]="{'large-font': isLargeFont, 'green-strikethrough': isGreenStrikethrough}">{{ fullName }}</p>
        <button (click)="showName()">Pokaż imię i nazwisko</button>
        <button (click)="toggleFontSize()">Zmień rozmiar czcionki</button>
        <button (click)="toggleTextColor()">Zmień kolor tekstu</button>
        <button (click)="applyBothEffects()">Zastosuj oba efekty</button>
      </div>
      
      
</body>
</html>